<div class="sidebar-brand d-none d-lg-flex">
  <i class="bi bi-laptop"></i>
  <span>WaveTech</span>
</div>

<ul class="nav nav-pills flex-column sidebar-nav">
  <li class="nav-item">
    <a
      href="{{ url_for('dashboard.index') }}"
      class="nav-link text-white {% if active_page == 'dashboard' %}active{% endif %}"
    >
  <i class="bi bi-grid-fill"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <li class="nav-item">
    <a
      href="{{ url_for('manifests.list_slots') }}"
      class="nav-link text-white {% if active_page == 'manifests' %}active{% endif %}"
    >
      <i class="bi bi-person"></i>
      <span>Manifests</span>
    </a>
  </li>

  <li class="nav-item">
    <a
      href="{{ url_for('monitoring.index') }}"
      class="nav-link text-white {% if active_page == 'monitoring' %}active{% endif %}"
    >
      <i class="bi bi-check-circle"></i>
      <span>Monitoring</span>
    </a>
  </li>

  <li class="nav-item">
    <a
      href="{{ url_for('analytics.index') }}"
      class="nav-link text-white {% if active_page == 'analytics' %}active{% endif %}"
    >
      <i class="bi bi-graph-up"></i>
      <span>Analytics</span>
    </a>
  </li>

  <li class="nav-item">
    <a
      href="{{ url_for('announcements.index') }}"
      class="nav-link text-white {% if active_page == 'announcements' %}active{% endif %}"
    >
      <i class="bi bi-megaphone"></i>
      <span>Notices</span>
    </a>
  </li>
</ul>

<div class="sidebar-divider"></div>

<ul class="nav nav-pills flex-column sidebar-nav sidebar-nav-bottom">
  <li class="nav-item">
    <a
      href="{{ url_for('settings.index') }}"
      class="nav-link text-white {% if active_page == 'settings' %}active{% endif %}"
    >
      <i class="bi bi-gear"></i>
      <span>Settings</span>
    </a>
  </li>

  <li class="nav-item">
    <a
      href="{{ url_for('auth.logout') }}"
      class="nav-link text-white"
    >
      <i class="bi bi-box-arrow-left"></i>
      <span>Logout</span>
    </a>
  </li>
</ul>